body
.squer {
    width: 600px;
    height: 270px;
    background-color: darkcyan;
    padding: 50px;
}

.sq{margin: 0 auto;
    width: 550px;
    height: 230px;
    border: 3px solid red;
    background-color: black;
    margin: 0 auto;
}
.qw{margin: 0 auto;
    width: 530px;
    height: 90px;
    background-color: aqua;
}
.er{margin: 0 auto;
    width: 530px;
    height: 90px;
    background-color: aqua;
}
.zx{
    margin: 0 auto;
    color: white;
    background-color: brown;
    width: auto;
    height: auto;
    text-align: center;
}